<nav class="navbar navbar-expand-sm navbar-dark">
  <button
    class="nav-item"
    routerLink="employees"
    routerLinkActive="active"
    class="nav-link text-white beautiful-button"
  >
    Employee List
  </button>
  <button
    class="nav-item"
    routerLink="create-employee"
    routerLinkActive="active"
    class="nav-link text-white beautiful-button"
  >
    Create Employee
  </button>
</nav>
<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-white">All Rights Reserved 2023 @bforbhagya</span>
  </div>
</footer>
